{% extends "base.html" %}
{% block body %}
  <h1>Python.lv</h1>
  <p>Mēs esam. :)</p>
  <h1>Komūna Latvijā</h1>

  <ul>
    <li><a href="http://www.meetup.com/python-lv/">Meetup.com — ikmēneša mītaps</a></li>
    <li><a href="irc://#pythonlv@oftc.net">#pythonlv @ OFTC — IRC čats</a></li>
  </ul>

  <h2>
    <a href="{{ event.url }}">
      {{ event.name }} {{ event.date.strftime('%d.%m.%Y %H:%M') }}
    </a>
  </h2>
  <small><a href="{{ event.location_map_url }}">{{ event.location }}</a></small>
  <p>{{ event.description|safe }}</p>
{% endblock %}
